html{
	background-image: url('./space.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	height: 100%; }
h1{
  display: block;
  text-align: center;
	color: white;
	font-size: 50px;
	letter-spacing: .2em }

input{
  display: block;
  height: 33px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid pink;
  border-radius: 4px;
  position: relative;
 	z-index: 4; }
.formGroup{
	width: 39%;
	margin: 10px auto; }
ul {
	list-style: none; 
	color: white;
	font-size: 25px;
	margin:0 auto; }