html{
	background-image: url('./space.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	height: 100%;}
h1{
  display: block;
  text-align: center;
	color: white;
	letter-spacing: .2em}

input{
  display: block;
  height: 33px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid pink;
  border-radius: 4px; }
.formGroup{
	width: 50%;
	margin: 10px auto;
}